.begin{
    margin-top: 20px;
}
.btext{
    opacity: 0.8;
    margin-top: 50px;
    margin-left: 20px;
}
.knife{
    margin-bottom: -45px;
}
.btextp{
    opacity: 0.8;
    margin-top: 26px;
}
.allpicture{
    margin-left:-400px;
}
.three{
    margin-top: 70px;
    
}
.for{
    margin-top: 70px;
    margin-left: -150px;
}
.d{
    margin-top: 70px;
    margin-left: 4s0px;
}
.textbox{
    margin-left: -190px;
}

.strok2{
    margin-left: 20px;
}
.strok3{
    margin-left: 200px;;
}
.strok4{
    margin-left: 10px;
}
.strok5{
    margin-left: 70px;
}
.textbox,.textbox2{
    color: #666666;
}
.line{
    margin-top: 30px;
}
.head2{
    font-size: 23px;
}
.head2,.five{
    display: inline-block;
    margin-left: -100px;
    margin-top: 50px;
}
.five{
    margin-top: -40px;
    margin-left: -180px;
 }
 .head2{
     margin-left: 0px;
     width: 100%;
    
 }
 .textboxB{
    margin-left: -150px;
    margin-top: 30px;
    color: #666666;
 }
 .word{
     border-bottom: 1px solid #003399;
     font-size: 20px;
     color:  #003399;

 }
 .lastword{
     font-size: 20px;
     color: black;
 }
 .alltwo{
     margin-top: 20px;
 }
 .six{
    margin-top: 5px;
    margin-left: -180px;
    margin-bottom: -10px;
 }
 .allthree{
     margin-top: 40px;
     margin-left: -30px;

 }
 .congress{
     margin: 0px;
     width: 1897px;
     height: 588px;
     background: #333333;
 }
 .mainfeature{
     color: white;
     font-size: 25px;
     margin: 100px;
     margin-left: 180px;
 }
label{
    color: #666666;
}
.checkbox{
    margin-left: 180px;
    margin-top: -50px;
}
label{
margin-left: 15px;
font-size: 20px;
}
.fl{
    border-bottom: 1px solid white;
    color: white;
    display: inline-block;
    margin: 25px;
    margin-left: 180px;
 }
.featurephoto{
    margin-left: 950px;
    display: inline-block;
}
.feature{
    display: inline-block;
}
.photofeature{
    position: absolute;
    top: 2070px;
}
.textphotolast{
    margin-top: 100px;
}
.peopleone,.peopletwo,.peoplethree{
    border: 1px solid #666666 ;
    width: 371px;
    height: 316px;
    padding: 40px;
    font-size: 16px;
    color: #666666;
    margin-top: 70px;
}  
.peoplethree{
    font-size: 15px;
}
.peopleone{
    padding-top: 70px;
}
.imgpeopleA{
    margin-top: 60px;
}
.Derik{
    font-size: 20px;
    display: inline-block;
    color: black;
    
}
.Flynn{
    font-size: 16px;
    display: inline-block;
    margin-left: 110px;
    margin-top: -20px;

}
.imgpeopleB{
    margin-top: 50px;

}
.imgpeopleC{
    margin-top: 85px;
}
.exitimg{
    margin: 0px;
    margin-top: 100px;
}
.exittext{
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

